
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <main>
    <div class="jumbotron">
      <h1 style="text-align: center;">Solar Radiation Visualization</h1>
    </div>

    <div id="index-meta-map" style="outline: 1px solid black;"></div>

    <div>
      <h3>Select a specific station from a state</h3>
      <label for="stations">Choose a station:</label>
      <select name="stations" id="index-stations-select">
        <option value=""></option>
      </select>
    </div> 
    <div id="index-station-display">
    </div>
  </main>

  <%- include('../js/main.ejs'); %>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>