<script>
  let longs = <%- JSON.stringify(ejsLong.longitude) %>;
  let lats = <%- JSON.stringify(ejsLat.latitude) %>;
  let elevs = <%- JSON.stringify(ejsElev.elevation) %>;
  let states = <%- JSON.stringify(ejsD.state) %>; // this come from ejs
  const INDEX_STATION_SELECT_ID = '#index-stations-select';
  const MAP_ID = 'index-meta-map';

  $(document).ready(function () {
    (states || []).forEach(element => {
      $(INDEX_STATION_SELECT_ID)
        .append($("<option></option>")
          .attr("value", element.code)
          .text(element.name));
    });


    $(INDEX_STATION_SELECT_ID).on('change', function () {
      if (!this.value) { 
        $('#index-station-display').empty();
        return; 
      }
      $.get(`/_api/state/${this.value}/stations`, (data) => {
        $('#index-station-display').empty();
        (data?.stations || []).forEach(element => {
          $('#index-station-display').append(`
            <div class="card" style="">
              <div class="card-body">
                <a href="#" class="card-link"><h5 class="card-title">${element.station_name} - (Class ${element.class})</h5></a>
                <h6 class="card-subtitle mb-2 text-muted">Location: ${element.state} (${element.latitude}, ${element.longitude})</h6>
              </div>
            </div>
          `);
        })
      });
    });

    var longitudes = [];
    (longs || []).forEach(element => {
      longitudes.push(element.longitude);
    });
    var latitudes = [];
    (lats || []).forEach(element => {
      latitudes.push(element.latitude);
    });
    var elevations = [];
    (elevs || []).forEach(element => {
      elevations.push(element.elevation);
    });

    var data = [{ type: 'densitymapbox', lon: longitudes, lat: latitudes, z: elevations }];
    var layout = {
      width: 800, height: 600,
      mapbox: {
        style: 'open-street-map', center: { lat: 38, lon: -92 }, zoom: 2
      }
    };
    Plotly.newPlot(MAP_ID, data, layout);


  });
</script>