<script>

  let stnData = <%- JSON.stringify(ejsD.stnData) %>;
  let states = <%- JSON.stringify(ejsD.state) %>; // this come from ejs
  let featuredStations = <%- JSON.stringify(ejsD.featuredStations) %>;

  let station_card_template = (station, width='18rem') => `
    <div class="card" style="width: ${width};">
      <div class="card-body">
        <a href="/state/${station.code}/details" class="card-link"><h5 class="card-title">${station.station_name} - (Class ${station.class})</h5></a>
        <h6 class="card-subtitle mb-2 text-muted">Location: ${station.state} (${station.latitude}, ${station.longitude})</h6>
      </div>
    </div>
  `;
  (featuredStations || []).forEach((el) => {
    $('#index-featured-station').append(station_card_template(el, ''));
  });
  const INDEX_STATION_SELECT_ID = '#index-stations-select';
  const MAP_ID = 'index-meta-map';
  $(document).ready(function () {
    (states || []).forEach(element => {
      $(INDEX_STATION_SELECT_ID)
        .append($("<option></option>")
          .attr("value", element.code)
          .text(element.name));
    });
    $(INDEX_STATION_SELECT_ID).on('change', function () {
      if (!this.value) {
        $('#index-station-display').empty();
        return;
      }
      $.get(`/_api/state/${this.value}/stations`, (data) => {
        $('#index-station-display').empty();
        (data?.stations || []).forEach(element => {
          $('#index-station-display').append(station_card_template(element, ''));
        })
      }).fail(() => {
        alert("Error when fetching stations")
      });
    });


    let unpack = (rows, key) => rows.map(row => row[key])
    let latitude = unpack(stnData, 'latitude');
    let longitude = unpack(stnData, 'longitude');
    let DNI_sum = unpack(stnData, 'DNI_sum')
    let years = unpack(stnData, 'year')
    console.log(latitude);



    scl = [[0, 'rgb(150,0,90)'],[0.125, 'rgb(0, 0, 200)'],[0.25,'rgb(0, 25, 255)'],[0.375,'rgb(0, 152, 255)'],[0.5,'rgb(44, 255, 150)'],[0.625,'rgb(151, 255, 0)'],[0.75,'rgb(255, 234, 0)'],[0.875,'rgb(255, 111, 0)'],[1,'rgb(255, 0, 0)']];
    var data = [{ type: 'scattermapbox', 
              //mode : 'markers',
              text: DNI_sum,
              lon: longitude, 
              lat: latitude,
              marker: {
              color: DNI_sum,
              colorscale: scl,
              cmin: 100,
              cmax: 10000,
              reversescale: true,
              opacity: 0.5,
              size: 3,
              colorbar:{
                thickness: 20,
                titleside: 'right',
                outlinecolor: 'rgba(68,68,68,0)',
                ticks: 'outside',
                ticklen: 5,
                shoticksuffix: 'last',
                ticksuffix: ' W/m^2',
                dtick: 500
              }
            },
            name: 'Direct Normal Irradiance'
        }];
    var layout = {
      width: 1100, height: 800,
      mapbox: {
        style: 'open-street-map', center: { lat: 63, lon: -155 }, zoom: 3
      }
    };
    Plotly.newPlot(MAP_ID, data, layout);
  });
</script>